.elements {
  padding: 20px 0 40px;
}

.elements__list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1024px) {
  .elements__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 544px) {
  .elements__list {
    grid-template-columns: 1fr;
  }
}
