* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

.page {
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
}

.page__container {
  max-width: 880px;
  margin: 0 auto;
  padding: 0 19px;
  box-sizing: border-box;
}
