*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; /* apaga cualquier scroll horizontal */
}

.page {
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
}

.page__container {
  max-width: 880px;
  margin: 0 auto;
  padding: 0 19px;
  box-sizing: border-box;
}
